<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
    <title>AddBlog</title>
  </head>
  <body>


    <%- include("./partials/nav") %>
    <div class="container mt-3">
      <form method="post" action="/blog/AddBlog" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverImage" class="form-label">CoverImage</label>
          <input type="file" class="form-control" id="coverImage" name="coverImage" />
        </div>

        <div class="mb-3">
          <label for="Title" class="form-label">Title</label>
          <input
          name="Title"
            type="text"
            class="form-control"
            id="Title"
            aria-describedby="Title"
          />
        </div>

        <div class="form">
          <label for="body" class="form-label">Body</label>
          <textarea
          name="body"
            class="form-control"
            id="body"
            style="height: 100px"
          ></textarea>
        </div>
        <div class="form mt-3">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
