<!DOCTYPE html>
<html lang="en">
<head>
   <%- include("./partials/head") %>
    <title>signUp</title>
</head>
<div class="container">
<body>
    <form class=" mt-5 d-flex justify-content-center align-items-center flex-column" action="/user/signup" method="post">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">FullName</label>
          <input type="text" class="form-control" id="FullName" aria-describedby="FullName" name="FullName">
        </div>
        <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="Email" aria-describedby="Email" name="Email">
          </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" id="Password" name="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</body>
</html>